
@model SomeProducts.PresentationServices.Models.Account.LogInUserModel
@{
    ViewBag.Title = "LogIn";
}

<h2>LogIn</h2>

<form method="post" action=@Url.Action("LogIn", "Account") enctype="multipart/form-data">
    @Html.ValidationMessage("Error")
    <div>
        @Html.LabelFor(m => m.Name)
        <div class="input-div">
            @Html.ValidationMessageFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name, new {@class = "form-control"})
        </div>
        @Html.LabelFor(m => m.Password)
        <div class="input-div">
            @Html.ValidationMessageFor(m => m.Password)
            @Html.TextBoxFor(m => m.Password, new {@class = "form-control", type = "password"})
        </div>
    </div>
    <div class="btn-div">
        <input class="btn btn-info" type="submit" value="SignIn"/>
        <a class="btn btn-default" href="@Url.Action("Register", "Account")">Register</a>
    </div>
</form>


@section stylesheets
{
    @Styles.Render("~/Accounnt/Auth/css")
}

@section scripts
{
    @Scripts.Render("~/Accounnt/Auth/Scripts")
}