@{
    Layout = "_LogInLayout.cshtml";
}
@model SomeProducts.PresentationServices.Models.Account.LogInUserModel
@using R = Resources.LocalResource;
@{
    ViewBag.Title = R.LogIn;
    string returnUrl = ViewBag.ReturnUrl ?? Url.Action("Show", "ProductTable");
}

<h2>@R.LogIn</h2>

<form method="post" action=@Url.Action("LogIn", "Account") enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    @Html.Hidden("returnUrl", returnUrl)
    <div class="error-message-container">
        @Html.ValidationMessage("Error")
    </div>
    <div>
        <div class="error-message-container">
            @Html.ValidationMessageFor(m => m.Name)
        </div>
        <div class="input-prepend" title="@R.Username">
            <span class="add-on"><i class="halflings-icon user"></i></span>
            @Html.TextBoxFor(m => m.Name, new {@class = "input-large span10", placeholder = $"{@R.Type} {@R.Username}"})
        </div>

        <div class="error-message-container">
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <div class="input-prepend" title="@R.Password">
            <span class="add-on"><i class="halflings-icon lock"></i></span>
            @Html.TextBoxFor(m => m.Password, new {@class = "input-large span10", placeholder = $"{@R.Type} {@R.Password}", type = "password" })
        </div>
    </div>
    <div class="button-login">
        <input class="btn btn-info" type="submit" value="@R.SignIn" />
        <a class="btn btn-default" href="@Url.Action("Register", "Account", new {returnUrl})">@R.Register</a>
    </div>
    <div class="clearfix"></div>
</form>

@section stylesheets
{
    @Styles.Render("~/Account/Auth/css")
}

@section scripts
{
    <script>
        $(function () {
            var params = {
                IllegalCharsError: '@R.IllegalCharsError'
            };
            var validationNamespace = window.Utils.getNamespace("AccountValidation");
            validationNamespace.init(params);
        });
    </script>
    @Scripts.Render("~/Account/Auth/Scripts")
}