@using PagedList.Mvc
@model SomeProducts.PresentationServices.Models.ProductTable.ProductTableViewModel


<div class="product-table-div">
    <table class="table">
        <thead>
            <tr>
                <th>
                    <div id="th-name" data-type="sort" data-name="Name">
                        Product Name
                    </div>
                </th>
                <th>Description</th>
                <th>
                    <div id="th-brand" data-type="sort" data-name="Brand">
                        Brand
                    </div>
                </th>
                <th>
                    <div id="th-quantity" data-type="sort" data-name="Quantity">
                        Quantity
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <th style="word-wrap: break-word; max-width: 200px;">
                        @if (@product.Image != null)
                        {
                            <img class="product-table-image" style="border: 6px solid @product.Color;"
                                 src="data:@product.ImageType;base64,@Convert.ToBase64String(product.Image)" alt=""/>
                        }
                        else
                        {
                            <img class="product-table-image" style="border: 6px solid @product.Color;"
                                 src="~/Resources/emptyImage.jpg" alt=""/>
                        }
                        @Html.DisplayFor(p => product.Name)
                    </th>
                    <th style="word-wrap: break-word; max-width: 200px;">@Html.DisplayFor(p => product.Description)</th>
                    <th style="word-wrap: break-word; max-width: 200px;">@Html.DisplayFor(p => product.Brand)</th>
                    <th style="word-wrap: break-word; max-width: 200px;">@Html.DisplayFor(p => product.Quantity)</th>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-xs-6">
        @Html.PagedListPager(Model.Products, page => Url.Action("Show", "ProductTable", new { page, count = @Model.PageInfo.ProductCount, by = @Model.PageInfo.SortingOption }))
    </div>
    <div class="dropdown col-xs-1" style="padding-top: 20px">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            Products count: @Model.PageInfo.ProductCount
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            @for (var i = 1; i < 5; i++)
            {
                <li><a class="dropdown-item" href=@Url.Action("Show", "ProductTable", new {page = Model.PageInfo.Page, count = i*5, by = Model.PageInfo.SortingOption})>@(i * 5)</a></li>
            }
        </ul>
    </div>
</div>



@section scripts
{
    <script>
        $(function () {
            var params = {
                url: '@Url.Action("Show", "ProductTable", new { page = @Model.PageInfo.Page, count = @Model.PageInfo.ProductCount})',
                sortingOption: '@Model.PageInfo.SortingOption'
            };
            var productTableNamespace = Utils.getNamespace("ProductTable");
            productTableNamespace.init(params);
        });
    </script>
    @Scripts.Render("~/Product/ProductTable/Scripts")
}

@section stylesheets
{
    @Styles.Render("~/Product/ProductTable/css")
}

