@using System.Web.Script.Serialization
@using PagedList.Mvc
@using SomeProducts.CrossCutting.Filter
@using FilterInfo = SomeProducts.CrossCutting.Filter.FilterInfo
@using Filter = SomeProducts.CrossCutting.Filter.Filter
@model SomeProducts.PresentationServices.Models.ProductTable.ProductTableViewModel
@{
    var filters = new List<Filter>();
    foreach (var filter in Model.FilterInfo.Filters)
    {
        if (filter.Parameter == FilterParameter.IsEmty || filter.Parameter == FilterParameter.IsNotEmty
            || filter.Parameter == FilterParameter.IsNotNull || filter.Parameter == FilterParameter.IsNull)
        {
            filters.Add(filter);
        }
        else if (filter.Value != null)
        {
            filters.Add(filter);
        }
    }
    var info = new JavaScriptSerializer().Serialize(new FilterInfo
    {
        Filters = filters
    });
}

<div>

    <div class="row" style="margin: 10px 0 10px 0">
        @for (var i = 0; i < Model.FilterInfo.Filters.Count; i++)
        {
            <div class="col-xs-3">
                <h4>
                    @Model.FilterInfo.Filters.ToArray()[i].Option.Split('_')[0]
                </h4>
                <div class="row">
                    <div class="col-xs-2">
                        @if (Model.FilterInfo.Filters.ToArray()[i].Option == "Quantity")
                        {
                            @Html.DropDownListFor(m => m.FilterInfo.Filters.ToArray()[i].Parameter, new SelectList(Model.NumberFilterParameter, "Key", "Value"),
                                new { @class = "btn btn-default dropdown-toggle", id = $"{Model.FilterInfo.Filters.ToArray()[i].Option}ParameterId", value = Model.FilterInfo.Filters.ToArray()[i].Parameter })
                        }
                        else
                        {
                            @Html.DropDownListFor(m => m.FilterInfo.Filters.ToArray()[i].Parameter, new SelectList(Model.StringFilterParameter, "Key", "Value"),
                                new { @class = "btn btn-default dropdown-toggle", id = $"{Model.FilterInfo.Filters.ToArray()[i].Option}ParameterId", value = Model.FilterInfo.Filters.ToArray()[i].Parameter })
                        }
                    </div>
                    <div class="col-xs-10">
                        <input class="form-control @(Model.FilterInfo.Filters.ToArray()[i].Option == "Quantity" ? "numbre" : "")" id="@(Model.FilterInfo.Filters.ToArray()[i].Option)ValueId"
                               value="@Model.FilterInfo.Filters.ToArray()[i].Value" />
                    </div>
                </div>
            </div>
        }
    </div>
    <div>
        <button class="btn btn-success" id="FilterBtn">Filter</button>
    </div>
</div>

<div class="product-table-div">
    <table class="table">
        <thead>
            <tr>
                <th>

                </th>
                <th>
                    <div id="th-name" data-type="sort" data-name="Name">
                        Product Name
                    </div>
                </th>
                <th>Description</th>
                <th>
                    <div id="th-brand" data-type="sort" data-name="Brand">
                        Brand
                    </div>
                </th>
                <th>
                    <div id="th-quantity" data-type="sort" data-name="Quantity">
                        Quantity
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <th>
                        @if (@product.Image != null)
                        {
                            <img class="product-table-image" style="border: 6px solid @product.Color;"
                                 src="data:@product.ImageType;base64,@Convert.ToBase64String(product.Image)" alt="" />
                        }
                        else
                        {
                            <img class="product-table-image" style="border: 6px solid @product.Color;"
                                 src="~/Resources/emptyImage.jpg" alt="" />
                        }
                    </th>
                    <th>
                        @Html.DisplayFor(p => product.Name)
                    </th>
                    <th>
                        @Html.DisplayFor(p => product.Description)
                    </th>
                    <th>
                        @Html.DisplayFor(p => product.Brand)
                    </th>
                    <th>
                        @Html.DisplayFor(p => product.Quantity)
                    </th>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-xs-4">
        @Html.PagedListPager(Model.Products, page => Url.Action("Show", "ProductTable", new { page, count = @Model.PageInfo.ProductCount, by = @Model.PageInfo.SortingOption, filterJson = info }))
    </div>
    <div class="dropdown col-xs-1 product-counter">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            Products count: @Model.PageInfo.ProductCount
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            @for (var i = 1; i < 5; i++)
            {
                <li><a class="dropdown-item" href=@Url.Action("Show", "ProductTable", new { page = Model.PageInfo.Page, count = i * 5, by = Model.PageInfo.SortingOption, filterJson = info })>@(i * 5)</a></li>
            }
        </ul>
    </div>
</div>

@section scripts
{
    <script>
        $(function () {
            var params = {
                url: '@Url.Action("Show", "ProductTable", new { page = @Model.PageInfo.Page, count = @Model.PageInfo.ProductCount, filterJson = info })',
                presentUrl: '@Url.Action("Show", "ProductTable", new { page = @Model.PageInfo.Page, count = @Model.PageInfo.ProductCount, by = @Model.PageInfo.SortingOption})',
                sortingOption: '@Model.PageInfo.SortingOption'
            };
            var productTableNamespace = window.Utils.getNamespace("ProductTable");
            productTableNamespace.init(params);
        });
    </script>
    @Scripts.Render("~/Product/ProductTable/Scripts")
}

@section stylesheets
{
    @Styles.Render("~/Product/ProductTable/css")
}

