
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <form method="post" action="">
        <div class="input-group">
            <label for="productName">Product name</label>
            <input type="text" class="form-control" id="ProductName">
        </div>
        <div class="input-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="Description">
        </div>
        <div class="input-group">
            <label for="brand">Brand</label>
            <input type="text" class="form-control" id="BrandId">
        </div>
        <div class="input-group">
            <label for="quantity">Quantity</label>
            <input type="number" class="form-control" id="Quantity">
        </div>
        <div class="input-group">
            <label for="color">color</label>
            <input type="number" class="form-control" id="Color">
        </div>
        <input type="submit" class="btn btn-success" value="Create">
    </form>

    <button type="button" class="btn btn-warning">Warning</button>
    <div>
        <img src="http://www.w3schools.com/html/pic_mountain.jpg" style="width:304px;height:228px;" />
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />  
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
