@model  SomeProducts.PresentationServices.Models.Admin.CompaniesViewModel
@using R = Resources.LocalResource;
<link rel="stylesheet" type="text/css" href="~/Stylesheets/Admin/Companies.css">

<h2>@R.Company</h2>

<button class="btn btn-success" id="newCompanyBtn">@R.NewCompany</button>

<div class="show-product-container">
    @foreach (var company in Model.Companies)
    {
        int id = company.CompanyId;
        <div class="row company-row">
            <div class="col-sm-4">
                <span class="field-validation-error" id="input-company-id@(id)"></span>
                <h4 company-name-id="@id">@company.CompanyName</h4>
                <input type="text" class="form-control" style="display: none;" input-company-id="@id">
                <div>
                    <button class="btn glyphicon glyphicon-cog" data-type="setCompany" setCompany-id="@id"></button>
                    <button class="btn glyphicon glyphicon-ok" data-type="acceptCompany" acceptCompany-id="@id"
                            style="display: none;"></button>
                    <button class="btn glyphicon glyphicon-remove" data-type="cancelCompany" cancelCompany-id="@id"
                            style="display: none;"></button>
                    <button class="btn glyphicon glyphicon-trash" data-type="removeCompany" removeCompany-id="@id"></button>
                </div>
            </div>
            <div class="col-sm-4 user-column">
                <div><h4 company-users-id="@id" isHide="true"
                         class="pointer">
                    Users&darr;
                </h4></div>
                <div user-row-id="@id" style="display: none">
                    @foreach (var user in company.CompanyUsers)
                    {
                        <div class="row user-row">
                            <div class="col-xs-8">
                                <span>@user.Name</span>
                            </div>
                            <div class="col-xs-4">
                                <span>@user.MainRole</span>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>

<div id="RemovingModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@R.DeleteUserQuestion</h4>
            </div>
            <form method="post" action=@Url.Action("RemoveCompany", "Admin") enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                @Html.Hidden("CompanyId", 0)
                @Html.Hidden("redirectUrl", @Url.Action("Companies", "Admin"))
                <div class="modal-body-central">
                    <input type="submit" class="btn btn-danger" id="removeBtnId" value="@R.Delete" />
                    <button class="btn btn-default" id="cancelDeleteBtnId">@R.Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="CreateCompanyModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@R.NewCompany:</h4>
            </div>
            <form method="post" action=@Url.Action("CreateCompany", "Admin") enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <span class="field-validation-error" id="newCompanyValidation"></span>
                    <div class="row">
                        <div class="col-xs-2">
                            <h4>@R.Company:</h4>
                        </div>
                        <div class="col-xs-10">
                            @Html.TextBox("CompanyName", "", new {@class = "form-control"})
                        </div>
                    </div>
                </div>
                    <div class="modal-body-central">
                        <button class="btn btn-success" id="createCompanyBtnId">@R.Create</button>
                        <button class="btn btn-default" id="cancelCompanyBtnId">@R.Cancel</button>
                    </div>
            </form>
        </div>
    </div>
</div>


@section scripts
{ 
    @Scripts.Render("~/Product/Admin/Company/Scripts")
    <script>
        $(function() {
            var params = {
                updateUrl: '@Url.Action("UpdateCompany", "Admin")',
                emptyValueError: '@R.EmptyBrandNameError',
                incorectSymbolError: '@R.IllegalCharsError'
            }
            var companyNamespace = window.Utils.getNamespace("Company");
            companyNamespace.init(params);
        });
    </script>
}    
@section stylesheets
{
    @Styles.Render("~/Product/Admin/Company/css")
}