@model  SomeProducts.PresentationServices.Models.Admin.CompaniesViewModel
@using R = Resources.LocalResource;
<link rel="stylesheet" type="text/css" href="~/Stylesheets/Admin/Companies.css">

<div class="row-fluid">
    <button class="btn btn-success new-company" id="newCompanyBtn">@R.NewCompany</button>
</div>

@foreach (var company in Model.Companies)
{
    int id = company.CompanyId;
    <div class="row-fluid">
        <div class="box span12">
            <div class="box-header">
                <h2>
                    <i class="halflings-icon white briefcase"></i><span class="break"></span>
                </h2>
                <h2 company-name-id="@id">
                    @company.CompanyName
                </h2>
            </div>
            <div class="box-content company-row">
                <div class="span5">
                    <span class="field-validation-error" id="input-company-id@(id)"></span>
                    <input type="text" class="form-control" style="display: none;" input-company-id="@id">
                    <div>
                        <button class="btn btn-small" data-type="setCompany" setCompany-id="@id">
                            <i class="halflings-icon pencil"></i>
                        </button>
                        <button class="btn btn-small" data-type="acceptCompany" acceptCompany-id="@id"
                                style="display: none;">
                            <i class="halflings-icon ok"></i>
                        </button>
                        <button class="btn btn-small" data-type="cancelCompany" cancelCompany-id="@id"
                                style="display: none;">
                            <i class="halflings-icon remove"></i>
                        </button>
                        <button class="btn btn-small" data-type="removeCompany" removeCompany-id="@id">
                            <i class="halflings-icon trash"></i>
                        </button>
                    </div>
                </div>
                <div class="box span7">
                    <div class="box-header">
                        <h2>
                            <i class="halflings-icon white user"></i><span class="break"></span>
                            @R.Users
                        </h2>
                        <div class="box-icon">
                            <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-down"></i></a>
                        </div>
                    </div>
                    <div class="box-content" style="display: none;">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                            <tr>
                                <th>@R.User</th>
                                <th>@R.Roles</th>
                            </tr>
                            </thead>
                            @foreach (var user in company.CompanyUsers)
                            {
                                <tr>
                                    <td class="col-xs-8">
                                        <span>@user.Name</span>
                                    </td>
                                    <td class="col-xs-4">
                                        <span>@user.MainRole</span>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div id="RemovingModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@R.DeleteUserQuestion</h4>
            </div>
            <form method="post" action=@Url.Action("RemoveCompany", "Admin") enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                @Html.Hidden("CompanyId", 0)
                @Html.Hidden("redirectUrl", @Url.Action("Companies", "Admin"))
                <div class="modal-body-central">
                    <input type="submit" class="btn btn-danger" id="removeBtnId" value="@R.Delete" />
                    <button class="btn btn-default" id="cancelDeleteBtnId">@R.Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="CreateCompanyModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@R.NewCompany:</h4>
            </div>
            <form method="post" action=@Url.Action("CreateCompany", "Admin") enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <span class="field-validation-error" id="newCompanyValidation"></span>
                    <div class="row-fluid">
                        <div>
                            <h4>@R.Name:</h4>
                        </div>
                        <div>
                            @Html.TextBox("CompanyName", "", new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="modal-body-central">
                    <button class="btn btn-success" id="createCompanyBtnId">@R.Create</button>
                    <button class="btn btn-default" id="cancelCompanyBtnId">@R.Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>


@section scripts
{
    @Scripts.Render("~/Product/Admin/Company/Scripts")
    <script>
        $(function () {
            var params = {
                updateUrl: '@Url.Action("UpdateCompany", "Admin")',
                emptyValueError: '@R.EmptyBrandNameError',
                incorectSymbolError: '@R.IllegalCharsError'
            }
            var companyNamespace = window.Utils.getNamespace("Company");
            companyNamespace.init(params);
        });
    </script>
}
@section stylesheets
{
    @Styles.Render("~/Product/Admin/Company/css")
}